@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hasta Analizi</h1>
    <p class="lead">Yeni bir hasta ekleyerek analiz edilecek kişisel verilerini sisteme kaydedin. </p>
    <p><a href="/Home/Register" class="btn btn-primary btn-lg">Yeni Hasta Ekleme  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hasta Nabız Bilgisi</h2>
        <p>
            Hasta nabız bilgisini anlık olarak alarak olağan dışı bir durum
            sezildiğinde hasta ve/veya hasta yakınlarına durum bilgilendirmesi yapılır.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kişisel Bilgileri</h2>
        <p>Hastanın varsa sağlık problemleri alınarak üzerinde gerekli analizler yapılır ve çıkarımlarda bulunulur.</p>
    </div>
    <div class="col-md-4">
        <h2>Konum Bilgisi</h2>
        <p>Alzheimer gibi hafıza problemi yaşanılan hastalıklarda konum bilgisinden de yararlanılarak daha iyi analizler yapılmaya çalışılır. </p>
    </div>
</div>